body {
  background: rgba(255,255,255,1);
  overflow-x: hidden;
  overflow-y: hidden;
}
.center-logo {
  margin: 0;
  position: absolute;
  max-width: 350px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-fader {
  width: 200px;
  height: 150px;
}
.image-fader img {
  position: absolute;
  animation-name: imagefade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}
@keyframes imagefade {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.image-fader img:nth-of-type(1) {
  animation-delay: 6s;
}
.image-fader img:nth-of-type(2) {
  animation-delay: 4s;
}
.image-fader img:nth-of-type(3) {
  animation-delay: 2s;
}
.image-fader img:nth-of-type(4) {
  animation-delay: 0;
}
.productOuter {
}
.productCard {
}
.productCard img {
  width: 100%;
}
.productCard h2 {
}
.modal-outer {
  display: grid;
  background: hsla(50, 100%, 50%, 0.7);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  /* hide this modal until we need it */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}
.modal-outer.open {
  opacity: 1;
  pointer-events: all;
}
.modal-outer img {
  width: 100%;
}
.modal-inner {
  max-width: 80vw;
  min-width: 60vw;
  max-height: 85vh;
  min-height: 60vh;
  padding: 2rem;
  border-radius: 5px;
  background: white;
  transform: translateY(-200%);
  transition: transform .5s;
}
.modal-inner iframe {
  min-width: 60vw;
  min-height: 60vh;
}
.modal-outer.open .modal-inner {
  transform: translateY(0);
}
.active {
  top: 0 !important; 
  transition: all .25s;
}
.papers {
  font-size:.8vmin;
  hyphens: auto;
  color: #444;
  font-family: bureau-grot-condensed, sans-serif;
  font-weight: 300;
  font-style: normal;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.paper{
  transition: all .25s;
  font-family: sans-serif;
  flex-grow:1;
  width: 15vw;
  max-width:150px;
  height:auto;
  position:absolute;
  /*padding:1.75em 1.5em 0 2em;*/
  /*transform: rotate(-3deg);*/
}
.paper-static{
  transition: all .25s;
  display: inline-block;
  font-family: sans-serif;
  flex-grow:1;
  max-width:150px;
  height:auto;
  margin: 3em;
  /*padding:1.75em 1.5em 0 2em;*/
  position: relative;
  /*transform: rotate(-3deg);*/
}
.paper img{
  box-shadow: 0 .15em .15em rgba(0,0,0,.25);
}
.paper-static img{
  box-shadow: 0 .15em .15em rgba(0,0,0,.25);
}
.paper:nth-of-type(even) {
  /*top:-4em;*/
  /*transform: rotate(3deg);*/
}
.paper::before {
  width:100%;
  height:100%;
  z-index:-4;
  top:0;left:0;
  position:absolute;
  /*transform: rotate(1.5deg) translate(.3em,-.4em);*/
  background-color:rgba(0,0,0,0);
}
.paper::after {
  transition: all .5s;
  width:100%;
  height:1em;
  bottom:0;
  left:0;
  position: absolute;
  background: linear-gradient(to bottom, transparent,rgba(0,0,0,.1));
}
.paper h1,
.paper h2,
.paper svg,
.paper p {
  margin:0;
  padding:0;
}
.paper > h1 {
  font-size:5em;
/*  display:inline-block;*/
  color: rgba(0,0,0,1);
  line-height:.65;
  text-shadow: 0em 0em .05em #eee, 0em 0em .05em #eee, 0em 0em .05em #eee, 0em 0em .05em #eee, 0em 0em .1em #eee, 0em 0em .05em #eee;
  padding-bottom:.15em;
  margin-bottom:.1em;
  font-family: bureau-grot-extra-compressed, sans-serif;
  border-bottom: .06em solid;
 /* text-transform: uppercase;*/
}
.paper:nth-of-type(odd) > h1 {
  font-family: bureau-grot-wide, sans-serif;
  font-weight: 900;
  font-style: normal;
  letter-spacing:-.07em; 
} 
.paper h2 {
  margin-bottom:.5em;
  font-size:2em;
  font-family: bureau-grot-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height:1;
}
.paper p {
  line-height: 1.4;
  overflow: hidden;
}
.paper:nth-of-type(1) h1 {
}
.paper:nth-of-type(2) h1 {
}
.paper:nth-of-type(3) h1 {
}
.paper:nth-of-type(4) h1 {
}
.paper:nth-of-type(5) h1 {
}
.paper:nth-of-type(6) h1 {
}
.paper h1 {
  font-size: 2.6em !important;
  line-height:1;
  border-bottom: .2em solid;
  text-transform: uppercase;
}
.paper:hover {
  cursor:pointer;
  box-shadow: 0em .5em .5em rgba(0,0,0,.5);
  transform: rotate(1deg) scale(1.05);
  z-index: 2;
}
.paper:hover::after {
}
.paper .nozoom{

}